.calculation-result {
    display: none;
}

.axis {

    path,
    line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }

    text {
        font-family: sans-serif;
        font-size: 10px;
    }
}

.tle {
    display: none;
    margin-top: 5px;
}

.tle-data {
    margin-bottom: 15px;
}

.waterfall {
    margin-top: 5px;

    img {
        margin: auto;
        padding: 5px;
    }
}

#data-selector {
    display: block;
}

.data-label {
    margin-top: 10px;
    display: inline-block;
}

.data-well {
    word-break: break-all;
}

.tab-data {
    margin-top: 25px;
}

.form-group.status-filter {
    display: inline-block;
}

.badge-unvetted {
    margin-top: -15px;
    margin-left: -7px;
    font-size: .7em;
}

@media screen and (max-width: 835px) {

    .vetting {
        float: none;
        margin-top: 5px;
    }
}
